body {
    background-color: rgb(34, 32, 32);
    color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    font-family: 'Nunito', sans-serif;
    overflow: auto;
}

.container {
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 20px;
}

.arisha {
    box-shadow: 1px 1px 10px;
    border: none;
    border-radius: 5px;
    display: flex;
}


.containerButtons {
    background-color: rgba(0, 0, 0, 0.253);
    flex-direction: row;
    display: flex;
    position: fixed;
    bottom: 20px;
    left: 50%; 
    transform: translateX(-50%); 
    width: 80%; 
    max-width: 250px; 
    border: none;
    box-shadow: 1px 1px 10px;
    border-radius: 8px;
    padding: 5px;
    justify-content: center; 
}

.containerButtons svg {
    width: 30px; 
    height: 30px; 
    margin: 0 10px;
    background-color: transparent;
}

.down {
    color: gray;
}

h1, p {
    text-shadow: 3px 3px 5px rgba(97, 99, 105, 0.7);
    letter-spacing: 1px;
    line-height: 0.75; 
    border: none;
    font-size: 1.2rem;
}

@media (max-width: 600px) {
    .containerButtons {
        width: 90%; 
    }

    h1 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1rem;
    }

    .containerButtons svg {
        width: 25px; 
        height: 25px; 
    }
}
