body {
    background-color: rgb(34, 32, 32);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: 'Nunito', sans-serif;
    flex-direction: column; /* Stack elements vertically */
}

.container {
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.arisha {
    box-shadow: 1px 1px 10px;
    border: none;
    border-radius: 5px;
    display: flex;
}

.Warning {
    display: flex;
    position: fixed; 
    right: 10px;
    bottom: 10px; 
    text-align: center;
    color: gray;
}

.containerButtons {
    background-color: rgba(0, 0, 0, 0.253);
    flex-direction: row;
    display: flex;
    position: fixed; 
    bottom: 20px;
    width: 100%; 
    max-width: max-content; 
    left: 50%; 
    transform: translateX(-50%); 
    border: none;
    box-shadow: 1px 1px 10px;
    border-radius: 8px;
}

.containerButtons svg {
    width: 60px;
    position: relative;
    top: 1px;
    display: flex;
    background-color: transparent;
}

.down {
    color: gray;
}

h1, p {
    text-shadow:  3px 3px 5px rgba(97, 99, 105, 0.7);
    letter-spacing: 2px;
    line-height: .5; 
    border: none;
}

/* Media Queries for Mobile Devices */
@media (max-width: 600px) {
    .containerButtons {
        width: 95%; 
        bottom: 20px;
    }

    h1 {
        font-size: 24px;
    }

    p {
        font-size: 16px;
    }
}
