body {
    background-color: rgb(34, 32, 32);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: 'Nunito', sans-serif;
    flex-direction: column;
}

.container {
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: fixed; /* Keep the container fixed */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust for centering */
}

.arisha {
    box-shadow: 1px 1px 10px;
    border: none;
    border-radius: 5px;
    display: flex;
}

.Warning {
    display: flex;
    position: fixed; 
    right: 10px;
    bottom: 10px; 
    text-align: center;
    color: gray;
}

.containerButtons {
    background-color: rgba(0, 0, 0, 0.253);
    flex-direction: row;
    display: flex;
    position: fixed; 
    bottom: 20px;
    width: 80%; 
    max-width: 250px; 
    left: 50%; 
    transform: translateX(-50%); 
    border: none;
    box-shadow: 1px 1px 10px;
    border-radius: 8px;
    padding: 5px;
    justify-content: center; 
}

.containerButtons svg {
    width: 30px; 
    height: 30px; 
    margin: 0 5px; 
    background-color: transparent;
}

.down {
    color: gray;
}

h1, p {
    text-shadow: 3px 3px 5px rgba(97, 99, 105, 0.7);
    letter-spacing: 2px;
    line-height: 1.2; 
    border: none;
}

@media (max-width: 600px) {
    .containerButtons {
        width: 90%; 
        bottom: 10px;
    }

    h1 {
        font-size: 24px;
    }

    p {
        font-size: 16px;
    }

    .Warning {
        font-size: 12px; 
    }
}
